 body {
   font-family: 'Roboto', sans-serif;
   margin: 0; 
   height: 100%; 
   overflow: hidden;
   background-color: rgba(191, 94, 59, 1);
  user-select: none;
  }

.grid-container {
  display: flex;  
  flex-direction: column;
   align-items: center;
     }

.settingsbar {
   display: flex;
  flex-wrap: wrap;
  width: 20%;
    height: 20%;
  justify-content: space-evenly;
   margin: 1%; 
   
   } 

.oscillatorelect {
  grid-area: osc;
  flex-grow: 1;
  
}

#oscselect{
  font-size: 2vh;
  padding: 1vh;
  background-color: rgba(242, 225, 140, 1);
  border:solid 0.1em rgba(191, 94, 59, 1);
}

.ampsettings {
  grid-area: amp;
  background-color: rgba(242, 225, 140, 1);
  display: flex;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}



.filtersettings {
  grid-area: filter;
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: center;
  background-color:rgba(191, 179, 9, 1);
  flex-grow: 1;
}



.delaysettings {
  grid-area: delay;
  background-color: rgba(122, 137, 165, 1);
  display: flex;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.reverbsettings {
  grid-area: reverb;
  background-color:rgba(242, 148, 94, 1);
  display: flex;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}



ul {
  list-style: none;
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;

}

ul .key {
  position: relative;
  width: 6vh;
  height: 18vh;
  border:solid 0.1em rgba(191, 94, 59, 1);
  background: rgba(242, 225, 140, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0em;
  font-weight: bold;
}


ul .black-key {
  position: absolute;
  top: -0.1em;
  left: 4vh;
  width: 4vh;
  height: 10vh;
  background: black;
  border:solid 0.1em rgba(191, 94, 59, 1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;
  color: white;
}







.Fashion-1-rgba { color: rgba(122, 137, 165, 1); }
.Fashion-2-rgba { color: rgba(191, 179, 9, 1); }
.Fashion-3-rgba { color: rgba(242, 225, 140, 1); }
.Fashion-4-rgba { color: rgba(242, 148, 94, 1); }
.Fashion-5-rgba { color: rgba(191, 94, 59, 1); }

