body {
  background-color: rgba(191, 94, 59, 1);
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
color: #222222;
user-select: none;
-webkit-user-select: none;  /* Chrome all / Safari all */
 -moz-user-select: none;/* Firefox all */
 -ms-user-select: none; 
}

input[type=range] {
  -webkit-appearance: none; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  height: 3vw;
  width: 4vw;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0vw; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */}


input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3vw;
  cursor: pointer;
  background:rgba(191, 94, 59, 1);
  border-radius: 1.3px;
  
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3vw;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3vw;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


.grid-container {
  display: flex;  
  flex-direction: column;
   align-items: center;
     }

.settingsbar {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-evenly;
  margin: 1%;
  opacity: 80%; 
} 

.oscillatorelect {
 grid-area: osc;
 flex-grow: 1;
}

#oscselect{
 font-size: vh;
 padding: 2vh;
 background-color: rgba(242, 225, 140, 1);
 border: rgba(191, 94, 59, 1);
}

.ampsettings {
 grid-area: amp;
 background-color: rgba(242, 225, 140, 1);
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-grow: 1;
 padding: 1%;
}


.filtersettings {
 grid-area: filter;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 background-color:rgba(191, 179, 9, 1);
 flex-grow: 1;
 padding: 1%;
}


.delaysettings {
 grid-area: delay;
 background-color: rgba(122, 137, 165, 1);
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-grow: 1;
 padding: 1%;
}

.reverbsettings {
 grid-area: reverb;
 background-color:rgba(242, 148, 94, 1);
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-grow: 1;
 padding: 1%;
}

ul {
max-width: 100%;
min-width: 100px;
list-style: none;
opacity: 80%;
justify-content: center;
}

#piano {
  display: inline-block;
  background-color: black;
  padding: 0;
}

.key {
  float: left;
  position: relative;

}

.white {
  height: 18vw;
  width: 6vw;
  z-index: 1;
  border-left: 0.12vw solid #AAAAAA;
  background-color: rgb(255, 255, 255);

}

.black {
  height: 10vw;
  width: 3vw;
  z-index: 2;
  border: 0.12vw solid #000000;
  background-color: #222222;

}

.a, .b, .d, .e, .g, .black {
  margin: 0 0 0 -1.676190476vw;
}

#keyboard > .note:last-child {
  border-right: 0.12vw solid #AAAAAA;
}
